body{
    font-family: 'Poppins', sans-serif;
padding: 0;
}
h1{
font-size: 50px;

}
.color{
    color: orange;
}
.main{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding-bottom: 40px;

}
.width{
    width: 50%;
    padding-left: 80px;
}
.width img{
    width: 80%;
}
.bn{
text-decoration: none;
background-image: linear-gradient(orange,tomato);
padding: 15px;
color: white;
border-radius: 10px;

}
.main1{
display: flex;
background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right;
}
p h3{
    text-align: justify;
    padding-right: 5px;
}
.experience{
    display: flex;
    text-align: justify;
   
   
}
.exp{
    text-align: center;
    color: orangered;
}
.html{
    border: tomato;
    
    padding-right: 5px;
    text-align: center; background-color: rgb(230, 64, 64);
    color: rgb(32, 30, 30);


    
}
.color1{
    color: lightseagreen;
}

.good{
   
}
.back{
background-color: turquoise;

}



